USE [master]
GO
/****** Object:  Database [nhahang]    Script Date: 05/07/2021 21:19:01 ******/
CREATE DATABASE [nhahang] ON  PRIMARY 
( NAME = N'nhahang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\nhahang.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nhahang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\nhahang_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nhahang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nhahang]
GO
/****** Object:  Table [dbo].[STAFFROLL]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFROLL](
	[ROLLID] [int] IDENTITY(1,1) NOT NULL,
	[ROLLNAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLLID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STAFFROLL] ON
INSERT [dbo].[STAFFROLL] ([ROLLID], [ROLLNAME]) VALUES (1, N'Quản Lí')
INSERT [dbo].[STAFFROLL] ([ROLLID], [ROLLNAME]) VALUES (2, N'Nhân Viên')
SET IDENTITY_INSERT [dbo].[STAFFROLL] OFF
/****** Object:  Table [dbo].[foodkind]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodkind](
	[FOODKIND_ID] [int] IDENTITY(1,1) NOT NULL,
	[KINDNAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FOODKIND_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[foodkind] ON
INSERT [dbo].[foodkind] ([FOODKIND_ID], [KINDNAME]) VALUES (1, N'Món ăn')
INSERT [dbo].[foodkind] ([FOODKIND_ID], [KINDNAME]) VALUES (2, N'Nước')
SET IDENTITY_INSERT [dbo].[foodkind] OFF
/****** Object:  Table [dbo].[tablestatus]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablestatus](
	[statusid] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tablestatus] ON
INSERT [dbo].[tablestatus] ([statusid], [status]) VALUES (1, N'Trống')
INSERT [dbo].[tablestatus] ([statusid], [status]) VALUES (2, N'Đang phục vụ')
SET IDENTITY_INSERT [dbo].[tablestatus] OFF
/****** Object:  Table [dbo].[tablest]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablest](
	[TABLEID] [int] IDENTITY(1,1) NOT NULL,
	[TABLENAME] [nvarchar](5) NULL,
	[TABLESCHAIR] [smallint] NULL,
	[statusid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tablest] ON
INSERT [dbo].[tablest] ([TABLEID], [TABLENAME], [TABLESCHAIR], [statusid]) VALUES (1, N'A1', 2, 1)
INSERT [dbo].[tablest] ([TABLEID], [TABLENAME], [TABLESCHAIR], [statusid]) VALUES (2, N'A2', 2, 1)
INSERT [dbo].[tablest] ([TABLEID], [TABLENAME], [TABLESCHAIR], [statusid]) VALUES (3, N'A3', 4, 1)
SET IDENTITY_INSERT [dbo].[tablest] OFF
/****** Object:  Table [dbo].[STAFFS]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFS](
	[STAFFID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](10) NOT NULL,
	[PASSWORD] [nvarchar](10) NOT NULL,
	[STAFFNAME] [nvarchar](50) NOT NULL,
	[ROLLID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFFID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STAFFS] ON
INSERT [dbo].[STAFFS] ([STAFFID], [USERNAME], [PASSWORD], [STAFFNAME], [ROLLID]) VALUES (1, N'admin', N'admin', N'ADMIN', 1)
INSERT [dbo].[STAFFS] ([STAFFID], [USERNAME], [PASSWORD], [STAFFNAME], [ROLLID]) VALUES (2, N'user1', N'user', N'User', 2)
INSERT [dbo].[STAFFS] ([STAFFID], [USERNAME], [PASSWORD], [STAFFNAME], [ROLLID]) VALUES (7, N'user2', N'user2', N'User 2', 2)
SET IDENTITY_INSERT [dbo].[STAFFS] OFF
/****** Object:  Table [dbo].[FOODS]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOODS](
	[FOODID] [int] IDENTITY(1,1) NOT NULL,
	[FOODNAME] [nvarchar](50) NULL,
	[FOODPRICE] [numeric](18, 0) NULL,
	[FOODKIND_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FOODID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FOODS] ON
INSERT [dbo].[FOODS] ([FOODID], [FOODNAME], [FOODPRICE], [FOODKIND_ID]) VALUES (11, N'Bún Bò Huế', CAST(40000 AS Numeric(18, 0)), 1)
INSERT [dbo].[FOODS] ([FOODID], [FOODNAME], [FOODPRICE], [FOODKIND_ID]) VALUES (12, N'Bún riu', CAST(30000 AS Numeric(18, 0)), 1)
INSERT [dbo].[FOODS] ([FOODID], [FOODNAME], [FOODPRICE], [FOODKIND_ID]) VALUES (14, N'Pepsi', CAST(15000 AS Numeric(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[FOODS] OFF
/****** Object:  Table [dbo].[SHIFT]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT](
	[STAFFID] [int] NULL,
	[STARTIME] [datetime] NULL,
	[ENDTIME] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SHIFT] ([STAFFID], [STARTIME], [ENDTIME]) VALUES (2, CAST(0x0000AD080083D600 AS DateTime), CAST(0x0000AD0800A4CB80 AS DateTime))
INSERT [dbo].[SHIFT] ([STAFFID], [STARTIME], [ENDTIME]) VALUES (2, CAST(0x0000AD0E00E6B680 AS DateTime), CAST(0x0000AD080128A180 AS DateTime))
INSERT [dbo].[SHIFT] ([STAFFID], [STARTIME], [ENDTIME]) VALUES (2, CAST(0x0000AD1400E6B680 AS DateTime), CAST(0x0000AD140128A180 AS DateTime))
/****** Object:  Table [dbo].[ORDERS]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDERSID] [int] IDENTITY(1,1) NOT NULL,
	[TABLEID] [int] NULL,
	[ORDERNOTE] [nvarchar](50) NULL,
	[OPENTIME] [datetime] NULL,
	[CUSTOMERNAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON
INSERT [dbo].[ORDERS] ([ORDERSID], [TABLEID], [ORDERNOTE], [OPENTIME], [CUSTOMERNAME]) VALUES (22, 1, N'', CAST(0x0000AD210107AC00 AS DateTime), N'Qui')
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
/****** Object:  Table [dbo].[ORDERLIST]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERLIST](
	[ORDERSID] [int] NULL,
	[FOODID] [int] NULL,
	[STAFFID] [int] NULL,
	[ORDERTIME] [datetime] NOT NULL,
	[QUANTITY] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ORDERLIST] ([ORDERSID], [FOODID], [STAFFID], [ORDERTIME], [QUANTITY]) VALUES (22, 11, 1, CAST(0x0000AD2101090B90 AS DateTime), 1)
/****** Object:  Table [dbo].[BILLS]    Script Date: 05/07/2021 21:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLS](
	[BILLSID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERSID] [int] NULL,
	[staffid] [int] NULL,
	[CLOSETIME] [datetime] NOT NULL,
	[totalprice] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BILLSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BILLS] ON
INSERT [dbo].[BILLS] ([BILLSID], [ORDERSID], [staffid], [CLOSETIME], [totalprice]) VALUES (5, 22, 1, CAST(0x0000AD210107AC00 AS DateTime), CAST(30000 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[BILLS] OFF
/****** Object:  ForeignKey [FK__tablest__statusi__55F4C372]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[tablest]  WITH CHECK ADD FOREIGN KEY([statusid])
REFERENCES [dbo].[tablestatus] ([statusid])
GO
/****** Object:  ForeignKey [FK__STAFFS__ROLLID__628FA481]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD FOREIGN KEY([ROLLID])
REFERENCES [dbo].[STAFFROLL] ([ROLLID])
GO
/****** Object:  ForeignKey [FK__FOODS__FOODKIND___671F4F74]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[FOODS]  WITH CHECK ADD FOREIGN KEY([FOODKIND_ID])
REFERENCES [dbo].[foodkind] ([FOODKIND_ID])
GO
/****** Object:  ForeignKey [FK__SHIFT__STAFFID__787EE5A0]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[SHIFT]  WITH CHECK ADD FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFFS] ([STAFFID])
GO
/****** Object:  ForeignKey [FK__ORDERS__TABLEID__7FEAFD3E]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([TABLEID])
REFERENCES [dbo].[tablest] ([TABLEID])
GO
/****** Object:  ForeignKey [FK__ORDERLIST__FOODI__02C769E9]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[ORDERLIST]  WITH CHECK ADD FOREIGN KEY([FOODID])
REFERENCES [dbo].[FOODS] ([FOODID])
GO
/****** Object:  ForeignKey [FK__ORDERLIST__ORDER__01D345B0]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[ORDERLIST]  WITH CHECK ADD FOREIGN KEY([ORDERSID])
REFERENCES [dbo].[ORDERS] ([ORDERSID])
GO
/****** Object:  ForeignKey [FK__ORDERLIST__STAFF__03BB8E22]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[ORDERLIST]  WITH CHECK ADD FOREIGN KEY([STAFFID])
REFERENCES [dbo].[STAFFS] ([STAFFID])
GO
/****** Object:  ForeignKey [FK__BILLS__ORDERSID__0880433F]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([ORDERSID])
REFERENCES [dbo].[ORDERS] ([ORDERSID])
GO
/****** Object:  ForeignKey [FK__BILLS__staffid__09746778]    Script Date: 05/07/2021 21:19:02 ******/
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([staffid])
REFERENCES [dbo].[STAFFS] ([STAFFID])
GO
